@media screen and (max-width: 576px) {
  .container {
    max-width: 462px;
  }

  h2 {
    font-size: 20px;
  }
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 516px;
  }
  h2 {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 696px;
  }

  h2 {
    font-size: 25px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 937px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1115px;
  }
}
