<<<<<<< HEAD *::selection {
  background-color: #fec260;
}

body {
  background-color: #f7ecde;
  font-family: "PT Sans Caption", sans-serif;
}

h1 {
  color: #352e28;
  font-size: 50px;
  font-family: "Pacifico", cursive;
}

h1::after {
  content: "";
  position: absolute;
  background-color: #fec260;
  width: 100%;
  height: 31%;
  bottom: 4%;
  right: 0%;
  z-index: -1;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

h1:hover::after {
  height: 63%;
}

.middle-container {
  border-top: 2px #352e28 dotted;
  border-bottom: 2px #352e28 dotted;
}

h2 {
  font-family: "Righteous", sans-serif;
  font-size: 25px;
  background-image: linear-gradient(to right, #3ca55c 40%, #b5ac49 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2::selection {
  color: #352e28;
}

.form-control {
  border-color: #ced4da;
}

.form-control:focus {
  border-color: #d99c39;
  box-shadow: 0 0 0 0.25rem #fec26055;
}

.fa-circle-exclamation {
  right: 1%;
  bottom: 15%;
  color: #dc3545;
  display: none;
}

.fa-check {
  right: 1%;
  bottom: 15%;
  color: #198754;
  display: none;
}

.btn-wrapper .submit-btn:active,
.visit-btn,
.delete-btn {
  color: #212529;
  background-color: transparent;
  border-color: #212529;
}

.visit-btn {
  color: #ffffff;
  background-color: #9eb23b;
  border-color: #9eb23b;
}

.visit-btn:hover {
  color: #ffffff;
  background-color: #8a9e23;
  border-color: #6e8018;
}

.delete-btn {
  color: #ffffff;
  background-color: #eb1d36;
  border-color: #eb1d36;
}

.delete-btn:hover {
  color: #ffffff;
  background-color: #d30820;
  border-color: #ba081d;
}

.red-circle {
  background-color: #f15f5d;
  width: 20px;
  height: 20px;
}

.yellow-circle {
  background-color: #febe2e;
  width: 20px;
  height: 20px;
}

.green-circle {
  background-color: #4db748;
  width: 20px;
  height: 20px;
}

.modal-content .btn-close {
  color: #212529;
  opacity: 1;
}

.modal-content .btn-close:focus {
  box-shadow: none;
}

.modal-content p {
  font-family: "Bree Serif", serif;
  font-size: 21px;
  color: #352e28;
}

.modal-content ul i {
  color: #bb4120;
}

.modal-content li {
  font-size: 18px;
  padding-top: 10px;
}
