*::selection {
  background-color: var(--main-color);
}

body {
  font-family: "PT Sans Caption", sans-serif;
  background-color: var(--bg-main);
  color: var(--text-main);
}

h1 {
  color: var(--text-main);
  font-size: 50px;
  font-family: "Pacifico", cursive;
}

h1::after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 100%;
  height: 31%;
  bottom: 4%;
  right: 0%;
  z-index: -1;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

h1:hover::after {
  height: 63%;
}

.middle-container {
  border-top: 2px var(--text-main) dotted;
  border-bottom: 2px var(--text-main) dotted;
}

h2 {
  font-family: "Righteous", sans-serif;
  font-size: 25px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2::selection {
  color: var(--text-main);
}

body.dark-mode h1::after,
body.dark-mode h2 {
  background-image: linear-gradient(
    45deg,
    var(--main-color) 40%,
    var(--sub-color) 70%
  );
}

.form-control {
  border-color: #ced4da;
}

.form-control:focus {
  border-color: var(--main-color);
  box-shadow: 0 0 0 0.25rem var(--main-color-soft);
}

body.dark-mode .form-control {
  background-color: #1f1b55;
  color: var(--text-main);
}

body.dark-mode .form-control::placeholder {
  color: var(--text-sub);
}

.fa-circle-exclamation {
  right: 1%;
  bottom: 15%;
  color: #dc3545;
  display: none;
}

.fa-check {
  right: 1%;
  bottom: 15%;
  color: #198754;
  display: none;
}

.red-circle {
  background-color: #f15f5d;
  width: 20px;
  height: 20px;
}

.yellow-circle {
  background-color: #febe2e;
  width: 20px;
  height: 20px;
}

.green-circle {
  background-color: #4db748;
  width: 20px;
  height: 20px;
}

body.dark-mode .modal-content {
  background-color: var(--bg-main);
  color: var(--text-main);
}

.modal-content .btn-close {
  color: var(--text-main);
  opacity: 1;
}

.modal-content .btn-close:focus {
  box-shadow: none;
}

.modal-content p {
  font-family: "Bree Serif", serif;
  font-size: 21px;
  color: var(--text-main);
}

.modal-content ul i {
  color: #bb4120;
}

.modal-content li {
  font-size: 18px;
  padding-top: 10px;
}

.pencil-cursor {
  z-index: 2000;
  pointer-events: none;
  transition: transform 0.12s ease;
  -webkit-transition: transform 0.12s ease;
  -moz-transition: transform 0.12s ease;
  -ms-transition: transform 0.12s ease;
  -o-transition: transform 0.12s ease;
  width: 32px;
}

.pencil-cursor.isWriting {
  animation: writing 1s ease-in-out infinite;
  -webkit-animation: writing 1s ease-in-out infinite;
}

*,
body,
[type="button"]:not(:disabled),
button:not(:disabled) {
  cursor: none;
}

@keyframes writing {
  0% {
    transform: translate(-4%, -80%) rotate(0deg);
    -webkit-transform: translate(-4%, -80%) rotate(0deg);
    -moz-transform: translate(-4%, -80%) rotate(0deg);
    -ms-transform: translate(-4%, -80%) rotate(0deg);
    -o-transform: translate(-4%, -80%) rotate(0deg);
  }
  50% {
    transform: translate(-4%, -80%) rotate(10deg);
    -webkit-transform: translate(-4%, -80%) rotate(10deg);
    -moz-transform: translate(-4%, -80%) rotate(10deg);
    -ms-transform: translate(-4%, -80%) rotate(10deg);
    -o-transform: translate(-4%, -80%) rotate(10deg);
  }
  100% {
    transform: translate(-4%, -80%) rotate(0deg);
    -webkit-transform: translate(-4%, -80%) rotate(0deg);
    -moz-transform: translate(-4%, -80%) rotate(0deg);
    -ms-transform: translate(-4%, -80%) rotate(0deg);
    -o-transform: translate(-4%, -80%) rotate(0deg);
  }
}

.mode {
  width: 40px;
  height: 40px;
  background-color: var(--main-color);
  border-radius: 6px;
}

body.dark-mode .mode {
  background-image: linear-gradient(
    45deg,
    var(--main-color) 40%,
    var(--sub-color) 70%
  );
}

.mode i {
  font-size: 23px;
}

body.dark-mode table.table,
body.dark-mode table.table th,
body.dark-mode table.table td {
  background-color: #222054;
  color: var(--text-main);
  border-color: var(--text-sub);
}

:root {
  --bg-main: #f7ecde;

  --text-main: #352e28;
  --text-sub: #6b7280;

  --main-color: #fec260;
  --main-color-soft: #fec26055;
}

body.dark-mode {
  --bg-main: #1d1a49;

  --text-main: #e5e7eb;
  --text-sub: #cbd5e0;

  --main-color: #9333ea;
  --main-color-soft: #9333ea55;

  --sub-color: #2563eb;
}
